{% extends 'base.html' %}

{% block nav %}
    <li class="active" role="presentation" >
        <a href="{% url 'sites' %}">Sites</a>
    </li>
    <li role="presentation" >
        <a href="{% url 'summary-sum' %}">Summary</a>
    </li>
{% endblock %}
{% block content %}
<h1>Site Details - {{site_name}}</h1>

        <table class="table">
            <thead>
                <tr><td><strong>Date</strong></td>
                <td><strong>A Value</strong></td>
                <td><strong>B Value</strong></td></tr>
            </thead>
            {% for detail in site_details %}
                <tr>
                    <td>{{detail.date}}</td>
                    <td>{{detail.a_value|floatformat:2}}</td>
                    <td>{{detail.b_value|floatformat:2}}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}